[user]
	email = bryanjenks@protonmail.com
	name = Bryan Jenks
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
